{{ item.storageLocation }} *(ro,sync,no_wdelay,no_subtree_check,insecure_locks,no_root_squash,insecure,fsid=0)
{{ item.storageLocation }}/dev *(rw,async,no_wdelay,no_subtree_check,no_root_squash,insecure,fsid=1)